{{- $runnerMode := (.Values.runner.mode | default "") -}}
{{- if ne $runnerMode "kubernetes" -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "no-permission-serviceaccount.name" . | quote }}
  namespace: {{ include "autoscaling-runner-set.namespace" . | quote }}
  labels:
    {{- include "no-permission-serviceaccount.labels" . | nindent 4 }}
  annotations:
    {{- include "no-permission-serviceaccount.annotations" . | nindent 4 }}
  finalizers:
    - actions.github.com/cleanup-protection
{{- end }}
